@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700;800&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colors */
  --color-yellow: #f4d04e;
  --color-gray-950: #111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffff;

  /* Spacing */
  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  /* Font Sizes */
  --font-size-text-preset-2: 16px;
  --font-size-text-preset-3: 14px;
}

.text-preset-1,
.text-preset-2,
.text-preset-3,
.text-preset-3-bold {
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-1 {
  font-size: var(--spacing-300);
  font-weight: 800;
}

.text-preset-2 {
  font-size: var(--font-size-text-preset-2);
  font-weight: 500;
}

.text-preset-3 {
  font-size: var(--font-size-text-preset-3);
  font-weight: 500;
}

.text-preset-3-bold {
  font-size: var(--font-size-text-preset-3);
  font-weight: 800;
}
